:root {
  --purple: #4b0082;
  --white: #fff;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--purple);
  padding: 10px;
}

h1,
h2,
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

button {
  background-color: var(--purple);
  color: var(--white);
  position: relative;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 33%;
  padding: 15px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.body {
  padding: 10px;
  margin-left: 20px;
}

.answer {
  padding: 15px;
  list-style-type: none;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.answer:hover {
  box-shadow: inset 180px 0 0 0 lavender;
  cursor: pointer;
}

.form-input {
  color: var(--purple);
  text-align: center;
}

.questionDiv {
  padding: 20px;
  margin: 5px;
  color: var(--purple);
}

#scoreLi {
  padding: 10px;
  list-style-type: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

#mainSection,
#boxDiv {
  background-image: url(https://images.freeimages.com/images/large-previews/2a7/polly-background-1631651.jpg);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 500px;
  height: 350px;
}

#currentTimer {
  float: right;
  padding-right: 25px;
}

#form-input-div {
  text-align: center;
  padding: 20px;
}

/* Media queries */
/* max-width: 786px */
@media screen and (max-width: 786px) {
  body {
    max-width: 786px;
    margin: 0%;
  }

  #mainSection,
  #banner {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
  }

  button {
    max-width: fit-content;
  }
}

/* max-width: 640px */
@media screen and (max-width: 640px) {
  header {
    display: flex;
    flex-direction: column;
  }

  body {
    max-width: 640px;
  }

  #mainSection,
  #banner {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
  }

  button {
    max-width: fit-content;
  }
}
